*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# APK / Bundle files
*.apk
*.aab

# Keystore files
*.jks
*.keystore

# Kotlin
.kotlin/

# Temporary files
/tmp/
/temp/

# Firebase
google-services.json

# Secrets
secrets.properties
.env